#acrbutton{
    height: 30px;
    width: 30px;
    background-color: rgb(204, 203, 203);
    border: 1px;
}
#acrbutton2{
    height: 30px;
    width: 30px;
    background-color: rgb(204, 203, 203);
}

#debtlist li:nth-child(odd) {
  background-color: darkgray; 
}

#debtlist li:nth-child(even) {
  background-color: lightgray; 
}


/* #zebra-list > li > ul > li:nth-child(odd) {
  background-color: lightgray; 
}

#zebra-list > li > ul > li:nth-child(even) {
  background-color: darkgray; 
}
#zebra-list > li > ul > li> ul> li:nth-child(odd) {
    background-color: lightgray; 
  }
  
  #zebra-list > li > ul >li> ul> li:nth-child(even) {
    background-color: darkgray; 
  } */
  